@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.link-nav {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    color: rgb(34, 34, 34) !important;
    text-decoration: none !important;
    overflow: visible !important;
    padding: 12px !important;
}

.link-nav:hover {
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
    width: 20px;
}

.cad {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    color: rgb(34, 34, 34) !important;
    margin: 0 12px;
}

.cad:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
}

.pesquisa {
    border: 1px solid #F7F7F7;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    color: #222222;
    margin: 10px 10px;
    width: 90%;
    margin: auto;
}

.form-pesquisa {
    padding:3px;
    cursor: pointer;
}

.form-pesquisa:hover {
    border: 1px solid #cccccc;
    border-radius: 5px;
}


.form-pesquisa label {
    font-size: 10px;
    line-height: 12px;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 15px;
}

.form-pesquisa input {
    border: none;
    width: 100%;
}

.form-pesquisa input:focus {
    outline: 0;
}

button {
    width: 100%;
    font-weight: 600;
    border-radius: 10px;
    background: #FF385C;
    height: 40px;
    color: #FFFFFF;
    margin: 20px 0 20px -5px;
}

main {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    background-color: #1f1f1f;
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    box-shadow: #7d7d7d -1px -2px 10px;
}

.redes-sociais {
    color: white;
    margin: 0 10px;
}